<div class="top">
  <div class="top-main">
  <div class="container">
    <div class=>
      <div class="column is-5">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <h3>Potepan Shareで<br>まだ体験したことのない旅をしよう</h3>
            </div>
            <div class="search-content">
              <%= search_form_for @q, url: search_rooms_path do |f| %>
                <%= f.label "エリア" %><br>
                <%= f.search_field :place_cont %><br>
                <%= f.submit '検索', class: "button is-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  </div>
</div>
<div class="main">
  <%# <img src="/assets/旅1.png " alt="メイン画像" class="main-img"> %>
<section class="serach-section">
</section>
</div>

<h2 class="side-title">おすすめエリア</h2>

<ul class="area-box">
  <li class="area-list">
    <%= link_to "/rooms?search=東京", class: "area-link" do %>
      <img src="/assets/img_tokyo.jpg" alt="東京" class="area-img">
      <div class="area-string">東京</div>
    <% end %>
  </li>
  <li class="area-list">
    <%= link_to "/rooms?search=大阪", class: "area-link" do %>
      <img src="/assets/img_osaka.jpg" alt="大阪" class="area-img">
      <div class="area-string">大阪</div>
    <% end %>
  </li>
  <li class="area-list">
    <%= link_to "/rooms?search=京都", class: "area-link" do %>
      <img src="/assets/img_kyoto.jpg" alt="京都" class="area-img">
      <div class="area-string">京都</div>
    <% end %>
  </li>
  <li class="area-list">
    <%= link_to "/rooms?search=札幌", class: "area-link" do %>
      <img src="/assets/img_sapporo.jpg" alt="札幌" class="area-img">
      <div class="area-string">札幌</div>
    <% end %>
  </li>
</ul>


