<section>
  <div class="container">
    <h3 class="title">
      新規部屋登録
    </h3>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @room do |f| %>
          <div class="field">
            <%= f.label :title, "部屋名", class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :body, "部屋の紹介", class: "label" %>
            <%= f.text_area :body, class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :image, "写真", class: "label" %>
            <%= f.attachment_field :image, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :place, "場所", class: "label" %>
            <%= f.text_field :place, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :cost, "料金", class: "label" %>
            <%= f.number_field :cost, class: "input" %>
          </div>

          <%= f.submit "更新", class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>