<h1>検索結果</h1>
<table class="table">
  <thead>
    <th>
      ルーム画像
    </th>
    <th>
      ルーム名
    </th>
    <th>
      ルーム紹介
    </th>
    <th>
      料金
    </th>
    <th>
      場所
    </th>
  </thead>
  <tbody>
    <% @results.each do |room| %>
      <tr>
        <td class="align-middle"><%= attachment_image_tag room, :image, size:"200x200"%></td>
        <td class="align-middle"><%= link_to "#{room.title}", "/rooms/#{room.id}", method: :get %></td>
        <td class="align-middle"><%= room.body %></td>
        <td class="align-middle"><%= "¥#{room.cost}円 / 人"%></td>
        <td class="align-middle"><%= "#{room.place}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>