<section>
  <div class="container">
    <h3 class="title">
      部屋の詳細
    </h3>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @room, :image, fallback: "no-image.png", size:"600x600" %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @room.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>部屋の詳細</th>
                </tr>
                <tr>
                  <td><%= @room.body %></td>
                  <td>場所：<%= @room.place %></td>
                  <td>1泊あたり：<%= @room.cost %>円/人</td>
                </tr>
              </table>
             
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            By <%= @room.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @room.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@room.user), class: "panel-block" do %>
            <%= @room.user.username %> さんのページへ
          <% end %>
            <%= link_to "この部屋を予約する", room_path(@room), class: "panel-block" %>
        </article>
      </div>
    </div>
  </div>
</section>