<!DOCTYPE html>
<html>
  <head>
    <title>PoteShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice]%>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert]%>
      <p class="alert"><%= alert %></p>
    <% end %>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark;">
      <%= link_to root_path do %>
        <img src="/assets/logo.png" alt="">
      <% end %>
      <div class="collapse navbar-collapse" id="navbarText">
        <div class="navbar-nav mr-auto">
          <%= search_form_for @q, url: search_rooms_path do |f| %>
            <%= f.label "エリア" %>
            <%= f.search_field :place_cont %>
            <%= f.label :title_or_body_matches, "キーワード" %>
            <%= f.search_field :title_or_body_or_place_cont %>
            <%= f.submit '検索', hide_indicator: true %>
          <% end %>
        </div>
        <span class="navbar-text">
          <% if user_signed_in? %>
          <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
              <div class="dropdown visible-xs text-right">
                <p class="login">ユーザー名:<%= current_user.username %></p>
                <p class="login-menu">メニュー</p>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="/assets/no-imag.png" alt="" class="avator rounded-circle">
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><%= link_to "新規部屋登録", new_room_path %></li>
                <li><%= link_to "登録済み部屋一覧", "/users/#{current_user.id}/post_room" %></li>
                <li><%= link_to "予約済み部屋一覧", "/users/#{current_user.id}/reserved_room" %></li>
                <li><%= link_to "ユーザー情報", user_path(current_user) %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              </ul>
            </div>
          </div>
          <% else %>
            <div class="p-2 bd-highlight">
              <%= link_to "ログイン", new_user_session_path, class: "button is-primary" %>
            </div>
            <div class="p-2 bd-highlight">
              <%= link_to "登録する", new_user_registration_path, class: "button is-dark" %>
            </div>
          </div>
          <% end %>
        </span>
      </div>
    </nav>
    </header>
    <%= yield %>
  </body>

  <footer>
    <p class="right">&copy;2021 Pote Share</p>
  </footer>
</html>
